 <!-- Sidebar -->

 <nav id="sidebar">
    
    <div class="sidebar-header">
        <h3>Appliance</h3>
    </div>

    <ul class="list-unstyled components">
        <p>Gestion d'appliance</p>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Ajouter Appliance 1</a>
                </li>
                <li>
                    <a href="#">Ajouter Pov</a>
                </li>
                <li>
                    <a href="#">Ajouter Type Appliance</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Connexion</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Contact</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Ajouter Contact</a>
                </li>
                <li>
                    <a href="#">Ajouter client</a>
                </li>
              
            </ul>
        </li>
      
    </ul>
</nav>