<!-- Nav tabs -->
<div class="navbar">
<!-- Nav tabs -->
<nav class="navbar navbar-expand-lg bg-neutral">
    <div class="container" id="container">
      <a class="breadcrumb-item active">Home Appliance</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link  active">Pov <span class="sr-only">(current)</span></a>
          </li>
        
        
       
        </ul>
      </div>
    </div>
  </nav>
</div>
  <!-- Tab panes -->

